.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section4>.para>p {
    margin-top: 2rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    padding: 1rem 0rem 0rem 0rem;
}

.section4>.data>div {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem 0.5rem;
    padding: 1.063rem 0.438rem 2.75rem 0.438rem;
}

.section4>.data>div>input {
    height: 5.5vh;
    width: 34vw;
    background-color: rgb(149 177 211 / 29%);
    border: 0.063rem solid rgba(128, 128, 128, 0.265);
    border-radius: 0.438rem;
    font-size: 16rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.section4>.data>div>button {
    height: 5.5vh;
    width: 10vw;
    border: none;
    border-radius: 0.438rem;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    background-color: red;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4>.data>div>input[type="text"] {
    color: white;
    font-size: 1.125rem;
    padding: 0rem 0.5rem;
}

.section4>.data>div>button>img{
    vertical-align: middle;
    padding-left: 0.25rem;
    width: 2vw;
}
/* FOOTER STARTS */

.hall {
    max-width: 85vw;
    margin: 0 auto;
}

.hall>p:first-child {
    color: rgb(151, 150, 150);
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    padding: 1rem 0rem 0rem 0rem;
}

.hall>.room {
    display: flex;
}

.hall>.room>.masterroom {
    padding: 2rem 0;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.hall>.room>.masterroom>.smallroom {
    display: flex;
    align-items: center;
    height: 8rem;
    width: 20rem;
    /* text-align: justify; */
    /* border: 0.063rem solid white; */
}

.hall>.room>.masterroom>.smallroom>ul>li {
    list-style: none;
    line-height: 2rem;
}

.hall>.room>.masterroom>.smallroom>ul>li>a {
    color: rgb(151, 150, 150);
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.hall>.langoptn>select#language {
    margin-top: 1rem;
    height: 2.5rem;
    width: 6.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 0rem 0.438rem;
    border-radius: 0.313rem;
    font-family: 'poppins', sans-serif;
    font-size: 1.063rem;
    font-weight: 700;
}
.hall>.copyright {
    margin: 2rem 0 2rem 0;
    color: rgb(151, 150, 150);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0rem 0rem 0rem;
}
